<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Hello <%= current_user.email %>
      <%= link_to 'Log Out', sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_users_path %>
      |
      <%= link_to 'Log In', new_sessions_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
