<h1>New Contact</h1>

<%= form_for @contact do |f| %>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <%= f.submit %>
<% end %>
