<h1><%= @contact.full_name %></h1>

<ul>
  <li>First Name: <%= @contact.first_name %></li>
  <li>Last Name: <%= @contact.last_name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Notes: <%= @contact.notes %></li>
</ul>
